<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus voluptates laborum soluta iste
            pariatur dignissimos eveniet atque provident recusandae iure!</p>
    </div>
</section>