<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam vel asperiores sint beatae quaerat
        voluptatum!</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos perspiciatis quasi optio ad? Culpa mollitia dolor
        nulla voluptates. Culpa, et!</p>
    <a href="https://www.faztweb.com" class="btn btn-primary">FaztWeb</a>
</div>